/*reset*/
* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei";
}
::selection {
	background-color: #b3d4fc;
	text-shadow: none;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a {
	list-style: none;
	text-decoration:none;
}
.clearfix:before,
.clearfix:after {
	content:" ";
	display: table;
}
.clearfix:after {
	clear: both;
}

/*my code*/
/*导航栏*/
.nav{
	height: 3.5rem;
	width: 100%;
	line-height: 2rem;
	font-size: 0.9rem;
	color: #F4F4EC;
	background: #04536C;
	position: fixed;
	z-index: 1;
}
.nav a {
	color: #F4F4EC;
	margin-top: 0.6rem;
	margin-left: 10rem;
	display: inline-block;
	float: left;
}

@media only screen and (max-width: 50em){
	.nav a{margin-left: 5rem;}
}

@media only screen and (min-width: 30.0625em) and (max-width: 50em){
	.nav a{ margin-left: 5rem; }
}

@media only screen and (max-width: 30em){
	.nav a{ margin-left: 2rem; font-size: 0.5rem; }
}

/*头图*/
.first-page{
	background-color: #FF5200;
	width: 100%;
	height: 42rem;
}
.head-word{
	color: #003355;
	font-weight: bold;
	font-size: 5rem;
	text-align: center;
	line-height: 40rem;
	position: absolute;
	margin: 0 auto;
	width: 100%;
}
.first-page a{
	position: absolute;
	margin-top: 35rem;
	margin-left: 6rem;
	font-size: 2rem;
	color: #003355;
}

@media only screen and (max-width: 50em){

}

@media only screen and (min-width: 30.0625em) and (max-width: 50em){
	.first-page{ height: 35rem; } .head-word{ margin-top: -5rem; } .first-page a{ margin-top: 25rem; }
}

@media only screen and (max-width: 30em){
	.first-page{ height: 32rem; } .head-word{ font-size: 3.5rem; margin-top: -5rem;} .first-page a{ font-size:1.2rem; text-align: center; margin-top: 20rem; }
}
/*个人简介*/
.main{
	width: 100%;
	height: 50rem;
	background: #638CCC;
	font-size: 1.3rem;
	line-height: 2rem;
	color: #E8F1F5;
}
.main p{
	font-size: 3rem;
	font-weight: bold;
	margin-top: 8rem;
	text-align: center;
}
.main-in, .main-moin{
	width: 15rem;
	margin-left: 15rem;
	margin-top: 6rem;
	padding: 0 0.5rem 0 0.5rem;
	float: left;
	border: 0.1rem solid #FFFFFF;
	margin-bottom: 13rem;
}

@media only screen and (max-width: 50em){

}

@media only screen and (min-width: 30.0625em) and (max-width: 50em){
	.main{ height: auto; } .main-in, .main-moin{ width: 10rem; font-size: 0.3rem; margin-top: 5rem; margin-left: 10rem; padding:0 1rem 0 1rem; border: 0.1rem solid #FFFFFF; } .main-moin{ float: left; width: 10rem; margin-left: 5rem; margin-top: 5rem; }
}

@media only screen and (max-width: 30em){
	.main{height: 32rem;} .main-in{ font-size: 0.3rem; width: 9rem; margin-top: 5rem; margin-left: 3.5rem; padding:0 0.5rem 0 0.5rem; border: 0.1rem solid #FFFFFF;} .main-moin{ font-size: 0.3rem; height: auto;  width: 10rem; margin:5rem 0 0 2rem; padding:0 0.5rem 0 0.5rem; border: 0.1rem solid #FFFFFF;  }
}
/*专业技能*/
.skills-title{
	width: 100%;
	height: auto;
	background: #40514E;
	margin: 0 auto;
	text-align: center;
}
.skills-word{
	color: #F3F6F6;
	font-size: 3rem;
	margin-top: 7rem
}
.skills-main{
	width: 100%;
	height: auto;
	color: #F3F6F6;
}
.skills-lang, .skills-idea, .skills-frame, .skills-tech {
	display: inline-block;
    height: auto;
    width: 12rem;
    border: 0.1rem solid #FFFFFF;
    font-size: 1.3rem;
    font-family: "Microsoft YaHei light";
    text-align: center;
    vertical-align: top;
    margin-top: 10rem;
    margin-bottom: 10.1rem;
    margin-left: 2rem
}
.skills-first{
	background-color: #F3F6F6;
	color: black;
}

@media only screen and (max-width: 50em){

}

@media only screen and (min-width: 30.0625em) and (max-width: 50em){
	.skills-title{ height: 32rem; margin-top: -3.2rem; } .skills-lang, .skills-idea, .skills-frame, .skills-tech{
		margin-top: 3rem; width: 10rem; margin-left: 1rem; font-size: 1.2rem; height: 10rem; margin-bottom: 5rem;
	}
}

@media only screen and (max-width: 30em){
	.skills-title{ height: 32rem; margin-top: -4.2rem; } .skills-word{ margin-bottom: 3rem; } .skills-lang, .skills-idea, .skills-frame, .skills-tech { font-size: 0.3rem; width: 5rem; margin-left: 0.5rem; margin-top: 1rem; }
}
/*项目经验*/
.pro-main{
	width: 100%;
	height: auto;
	background: #11999E;
	
}
.pro-main h1{
	margin-top: 7rem;
	text-align: center;
	color: #E7F0D2;
	font-size: 3rem;
}
.pro-left, .pro-right{
	font-size: 1rem;
	color: #E7F0D2;
	margin-top: 4rem;
	margin-left: 4rem;
	margin-bottom: 9rem;
	padding: 0 0.5rem 0 0.5rem;
	width: 15rem;
	height: auto;
	float: left;
	border: 0.1rem solid #FFFFFF;
}

@media only screen and (max-width: 50em){

}

@media only screen and (min-width: 30.0625em) and (max-width: 50em){
	.pro-left, .pro-right{ width: 8rem; margin-left: 2rem; margin-top: 1rem; padding-left: 0.5rem; padding-right: 0.5rem; border: 0.1rem solid #FFFFFF; }
}

@media only screen and (max-width: 30em){
	.pro-main{height: 42rem; } .pro-left{ font-size: 0.5rem; height: 8rem; width: 8rem; margin:1rem 1rem 1rem 3rem; } .pro-right{ float: left; font-size: 0.3rem; height: 13rem; width: 10rem; margin:1rem 0 0 2rem; padding:0.5rem 0.5rem 0 0.5rem; border: 0.1rem solid #FFFFFF; }
}


/*页脚*/
.footer{
	width: 100%;
	height: auto;
	color: #E7F0D2;
	background: #83B271;
}
.footer-call{
	font-size: 3rem;
	text-align: center;
	padding-top: 8rem;
}
.footer p{
	float: left;
	margin-top: 6rem;
	margin-left: 20rem;
	font-size: 25px;
	line-height: 10rem;
}
#wechat, #QQ {
	width: 10%;
	height: 20%;
	float: left;
	margin-top: 15rem;
	margin-left: -10rem;
	margin-bottom: 10rem;
	position: relative;
}
#QQ{
	width: 8.5%;
}3

#Email{
	margin-left: -15rem;
}

@media only screen and (max-width: 50em){

}

@media only screen and (min-width: 30.0625em) and (max-width: 50em){
	.footer p{ font-size: 1rem; margin: 1rem 0 0 10rem; padding:0 0.5rem 0 0.5rem; }
	#wechat, #QQ{ margin-top: 8rem; margin-left: -7rem; }
}

@media only screen and (max-width: 30em){
	.footer p{ font-size: 0.3rem; margin: 0.5rem 0 0 6rem }
	#wechat, #QQ{ margin: 8rem 0 5rem -4rem; }
}
